body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #242429 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-layout-header{
  background-color: #18181b !important;
}

.ant-menu-overflow{
  background-color: #18181b !important;
}

.ant-menu{
  background-color: #18181b !important;
}

.ant-menu-item-selected{
  background-color: #18181b !important;
}

.ant-layout{
  background-color: #18181b !important;
}
.ant-layout-footer{
  background-color: #18181b !important;
  color: grey
}

.ant-card-body{
  background-color: #19191d !important;
  border: none !important;
  color: white !important;
  border-radius: 20px !important;
}

.ant-card{
  background-color: #19191d !important;
  border: none !important;
  color: white !important
}

.ant-segmented-group{
  background-color: #19191d !important;
  color: grey;
}

.ant-segmented{
  background-color: #19191d !important;
}
